node_modules
vendor
storage/app
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache/*.php
docker/nginx/*.log
public/storage
.git
.gitignore
.gitattributes
*.md
*.log
.env
.env.*
docker-compose.override.yml
.idea
.vscode
